---
import { Trans } from 'astro-i18next/components'
import FullVideoBg from '../../../components/template/VideoBackground.astro'
import CustomSlider from '@components/organisms/slider/CustomSlider.astro'
import SliderElements from '@components/organisms/slider/SliderElements.astro'

const id = 'landing-slide'
---

<>
	<section id="hero" class="relative h-svh">
		<FullVideoBg
			video="/assets/videos/landing.mp4"
			preload="meta"
			autoplay={true}
			id="landing-video"
		>
			<div class="relative h-svh">
				<div class="container-screen relative h-svh">
					<CustomSlider
						indexElements={false}
						id={id}
						lengthElements={2}
						delay={8000}
						classWrapper="h-1/2 select-none absolute"
					>
						<SliderElements id={id} customClass="h-svh" isBackground={false}>
							<div class="slide absolute bottom-16 z-40 duration-300 md:px-0 md:py-4 xl:py-16">
								<h1 class="z-10 w-full py-4 pt-2 text-4xl text-white lg:text-plusMid">
									<span class="mb-2 block w-8 border-2 border-white md:w-12"></span>
									<Trans i18nKey="landing.carousel.title1">
										<strong>Smart Use</strong> of <strong>Advance Composites</strong>
									</Trans><br />
									<Trans i18nKey="landing.carousel.title11">
										to <strong>Boost Efficiency</strong> in <strong>Agriculture</strong>
									</Trans>
								</h1>
							</div>
							<div class="slide absolute bottom-16 z-40 md:px-0 md:py-4 xl:py-16">
								<h2 class="z-10 w-full py-4 pt-2 text-4xl text-white lg:text-plusMid">
									<span class="mb-2 block w-8 border-2 border-white md:w-12"></span>
									<strong
										><Trans i18nKey="landing.carousel.title2">
											Lightweight Sprayer Booms
										</Trans></strong
									><br />
									32m | 36m | 40m | 48m
								</h2>
							</div>
						</SliderElements>
					</CustomSlider>
				</div>
				<div
					class="absolute bottom-0 z-30 h-2/5 w-full bg-[linear-gradient(180deg,_transparent_0%,_rgba(0,0,0,0.5)_100%)] lg:h-1/4"
				>
				</div>
			</div>
		</FullVideoBg>
		<style>
			@media (max-height: 480px) {
				.slide {
					bottom: 1rem;
					padding: 0.5rem 1rem;
				}
			}
		</style>
	</section>
</>
