---
import ImageBackground from 'src/components/template/ImageBackground.astro'

import { getImage } from 'astro:assets'
import ProductDisplay from 'src/components/molecules/ProductDisplay.astro'
import BgImg1 from 'src/img/lineup1.png'
import BgImg2 from 'src/img/lineup2.png'
import BgImg3 from 'src/img/lineup3.png'
import CloudBg from 'src/img/clouds.png'
import { Trans } from 'astro-i18next/components'
import { t } from 'i18next'
import CustomSlider from '@components/organisms/slider/CustomSlider.astro'
import SliderElements from '@components/organisms/slider/SliderElements.astro'
import IndexElements from '@components/organisms/slider/IndexElements.astro'
import ProductImageBackground from '@components/template/ProductImageBackground.astro'

const CloudsBlurBg = await getImage({ src: CloudBg, format: 'png' })
const productsData = [
	{
		modelTitle: 'landing.productsLineup.products.item1.model',
		technical: 'landing.productsLineup.products.item1.technical',
		compatible: 'landing.productsLineup.products.item1.compatible',
		mobile: 'landing.productsLineup.products.item1.mobile',
		description: 'landing.productsLineup.products.item1.description',
		image: BgImg1
	},
	{
		modelTitle: 'landing.productsLineup.products.item2.model',
		technical: 'landing.productsLineup.products.item2.technical',
		compatible: 'landing.productsLineup.products.item2.compatible',
		mobile: 'landing.productsLineup.products.item2.mobile',
		description: 'landing.productsLineup.products.item2.description',
		image: BgImg2
	},
	{
		modelTitle: 'landing.productsLineup.products.item3.model',
		technical: 'landing.productsLineup.products.item3.technical',
		compatible: 'landing.productsLineup.products.item3.compatible',
		mobile: 'landing.productsLineup.products.item3.mobile',
		description: 'landing.productsLineup.products.item3.description',
		image: BgImg3
	},
	{
		modelTitle: 'landing.productsLineup.products.item4.model',
		description: 'landing.productsLineup.products.item4.description',
		image: BgImg3
	}
]

const models = ['32m', '36m', '40m', '48m']
const id = 'lineup-slider'
---

<section id="products-line-up" class="relative h-screen">
	<CustomSlider
		id={id}
		lengthElements={productsData.length}
		customSliderClass="gap-4"
		customSliderContainerClass="px-4 mb-4 sm:mb-0 relative"
		classWrapper="dark-item"
		activeColor="black"
		colorInactive="rgba(0,0,0,0.2)"
	>
		<div
			class="relative left-1/2 z-20 mx-auto w-full -translate-x-1/2 gap-3 pt-16"
			slot="prev-slider-timer"
		>
			<h2 class="title-lineup mb-4 text-center text-xl md:text-2xl">
				<Trans i18nKey="landing.productsLineup.title">
					<strong>BK BOOMS</strong> - PRODUCTS LINEUP
				</Trans>
			</h2>
			<div class="index-container flex items-center justify-center gap-4 text-black"></div>
		</div>
		<IndexElements
			id={id}
			customClass="px-4 h-[55px]  justify-between sm:justify-center z-40 gap-4"
		>
			{
				models.map((model, index) => {
					return (
						<div
							class={`item-model relative flex h-[54px] w-[79px] cursor-pointer flex-col items-center justify-center text-lg transition-all duration-300 ease-in  md:h-[85px] md:w-[123px] md:text-xl`}
						>
							<p class="item-data font-mid relative">{model}</p>
							{index !== models.length - 1 && (
								<span class="spacer absolute -right-2 top-1/2 h-4 w-[1px] -translate-y-1/2 bg-black" />
							)}
						</div>
					)
				})
			}
		</IndexElements>
		<SliderElements id={id} isBackground={true}>
			{
				productsData.map((modelData, index) => {
					if (index !== productsData.length - 1) {
						return <ProductDisplay {...modelData} index={index} />
					} else {
						return (
							<div class="absolute z-10 h-screen w-full bg-black">
								<div class="h-full ">
									<ProductImageBackground
										extraClassImg="object-contain  h-auto sm:h-full sm:object-cover sm:object-center"
										mobileBg={CloudsBlurBg}
										desktpBg={modelData.image}
										isBlur={true}
									>
										<div class="absolute h-full w-full bg-black opacity-70" />
										<div class="ext-black container relative z-20 mx-auto flex h-full items-center justify-start px-4 sm:px-8 md:justify-center md:px-0">
											<div class="md:h-[25%] xl:h-[30%] xl:px-16">
												<span class="mb-2 block w-6 border-2 border-white" />
												<h3 class="pb-2 text-5xl font-bold text-white">
													{t(modelData.modelTitle)}
												</h3>
												<p class="mb-5 pt-0 text-2xl font-semibold text-white">
													{t(modelData.description)}
												</p>
											</div>
										</div>
									</ProductImageBackground>
								</div>
							</div>
						)
					}
				})
			}
		</SliderElements>
	</CustomSlider>
</section>
<style>
	@media (max-height: 480px) {
		h3 {
			font-size: 2rem;
		}

		p {
			font-size: 1rem;
		}
	}
	/* INDEX BOX MODEL */
	.item-index-active:before {
		content: '';
		position: absolute;
		inset: 0;
		background: #fff;
		overflow: hidden;
		clip-path: polygon(
			0 0,
			100% 0,
			100% 100%,
			20px 100%,
			0 calc(100% - 20px),
			0 0,
			1px 1px,
			1px calc(100% - 20px - 0.41px),
			calc(20px + 0.41px) calc(100% - 1px),
			calc(100% - 1px) calc(100% - 1px),
			calc(100% - 1px) 1px,
			1px 1px
		);
	}

	.item-index-active:after {
		content: '';
		position: absolute;
		inset: 0;
		background: rgba(255, 255, 255, 0.2);
		--mask: linear-gradient(45deg, #0000 14.28px, #000 0);
		-webkit-mask: var(--mask);
		mask: var(--mask);
		mask: var(--mask);
		transition: all ease-in 300ms;
	}

	.item-index-active {
		font-weight: bold;
	}

	@media (max-width: 768px) {
		.item-index-active:before {
			content: '';
			position: absolute;
			inset: 0;
			background: #fff;
			overflow: hidden;
			clip-path: polygon(
				0 0,
				100% 0,
				100% 100%,
				14px 100%,
				0 calc(100% - 14px),
				0 0,
				1px 1px,
				1px calc(100% - 14px - 0.41px),
				calc(14px + 0.41px) calc(100% - 1px),
				calc(100% - 1px) calc(100% - 1px),
				calc(100% - 1px) 1px,
				1px 1px
			);
		}

		.item-index-active:after {
			content: '';
			position: absolute;
			inset: 0;
			background: rgba(255, 255, 255, 0.2);
			--mask: linear-gradient(45deg, #0000 11.28px, #000 0);
			-webkit-mask: var(--mask);
			mask: var(--mask);
			mask: var(--mask);
			transition: all ease-in 300ms;
		}

		.item-index-active {
			font-weight: bold;
		}
	}
</style>
