---
import SlideTimers from '@components/atom/SlideTimers.astro'
import FullVideoBg from '../../../components/template/VideoBackground.astro'
import { t } from 'i18next'

const data = [
	{
		label: 'landing.benefits.item1.featureLine',
		data: 'landing.benefits.item1.description'
	},
	{
		label: 'landing.benefits.item2.featureLine',
		data: 'landing.benefits.item2.description'
	},
	{
		label: 'landing.benefits.item3.featureLine',
		data: 'landing.benefits.item3.description'
	},
	{
		label: 'landing.benefits.item4.featureLine',
		data: 'landing.benefits.item4.description'
	},
	{
		label: 'landing.benefits.item5.featureLine',
		data: 'landing.benefits.item5.description'
	},
	{
		label: 'landing.benefits.item6.featureLine',
		data: 'landing.benefits.item6.description'
	}
]

const { elements = data, indexElements = true, id = 'benefit-slide' } = Astro.props
---

<div id={id}>
	<SlideTimers
		activeColor="white"
		speed={5000}
		activeSlide={null}
		lengthSlides={data.length}
		colorInactive="rgba(255,255,255,0.5)"
	/>
	<div class="relative">
		<div class="border-2 border-red-500">
			{
				elements.map((item, idx) => {
					return (
						<div data-display-element={idx} class="item absolute">
							<span class="mb-2 block w-10 border-2 border-white" />
							{t(item.data)
								.split('\n')
								.map((description) => {
									return (
										<>
											<p class="text-left text-plusMid font-bold leading-10 text-white md:text-3xl lg:leading-10 xl:text-plusMid">
												{description}
											</p>
										</>
									)
								})}
						</div>
					)
				})
			}
		</div>
		{
			indexElements && (
				<div class="">
					{elements.map((item, idx) => {
						return (
							<div class="index-container">
								<div data-index-element={idx} class="item-index-active">
									<div class="item-data relative z-20 ">
										{t(item.label)
											.split('\n')
											.map((description) => {
												return (
													<p
														style={{ lineHeight: '0rem !important' }}
														class="xl:leading-[1.1rem]! my-0 px-4 py-2 text-left text-lg md:text-base md:leading-[0.8rem] xl:text-lg xxl:text-xl"
													>
														{description}
													</p>
												)
											})}
									</div>
								</div>
							</div>
						)
					})}
				</div>
			)
		}
	</div>
</div>

<script>
	import ShowOnHover from '../../../scripts/showElementOnHover'
	const fadeSlider = new ShowOnHover('#benefit-slide', {
		activeClass: 'item-index-active',
		speed: 1500,
		autoplay: true,
		delay: 5000,
		triggerOnAutoPlayToggle: (isPlaying) => {
			const slideTimer = document.querySelector('slide-timer')

			slideTimer.setAttribute('data-stop', (!isPlaying).toString())
		},
		triggerOnIndexCallback: (newIndex) => {
			const slideTimer = document.querySelector('slide-timer')

			//
			if (newIndex === 0) {
				const bars = slideTimer.querySelectorAll('.fill-elem')
				bars.forEach((element) => {
					;(element as HTMLDivElement).style.width = '0%'
				})
			}

			slideTimer.setAttribute('data-active-slide', newIndex)
		}
	})
</script>
<style>
	.item-benefit:before {
		content: '';
		position: absolute;
		inset: 0;
		background: #fff;
		overflow: hidden;
		clip-path: polygon(
			0 30px,
			30px 0,
			100% 0,
			100% 100%,
			0 100%,
			0 30px,
			1px calc(30px + 0.83px),
			1px calc(100% - 1px),
			calc(100% - 1px) calc(100% - 1px),
			calc(100% - 1px) 1px,
			calc(30px + 0.83px) 1px,
			1px calc(30px + 0.83px)
		);
	}

	.item-benefit:after {
		content: '';
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.2);
		--mask: linear-gradient(135deg, #0000 21.28px, #000 0);
		-webkit-mask: var(--mask);
		mask: var(--mask);
		transition: all ease-in 300ms;
	}

	.item-benefit-active {
		transition: all 300ms ease;
		font-weight: 500;
		color: #000;
	}

	.item-benefit-active:after {
		background: #fff;
	}

	@media (max-width: 480px) {
		.item-benefit {
			opacity: 0;
		}

		.index-container {
			position: absolute;
			width: 100%;
			height: 300px;
		}
		.item-benefit-active {
			opacity: 1;
		}
	}

	@media (max-width: 1600px) and (max-height: 720px) {
		#benefit-slide {
			padding: 3rem 8rem;
		}
	}
</style>
