---
import { t } from 'i18next'
import CloudsImg from 'src/img/clouds.png'

import { getImage } from 'astro:assets'
import ProductImageBackground from '@components/template/ProductImageBackground.astro'
const { modelTitle, description, technical, image, mobile, compatible } = Astro.props
const optimizedBackground = await getImage({ src: image, format: 'png' })
const mobileBg = await getImage({ src: CloudsImg, format: 'png' })
---

<div class="absolute z-10 h-screen w-full">
	<div class="relative h-full bg-black">
		<ProductImageBackground mobileBg={mobileBg} desktpBg={optimizedBackground}>
			<div class="z-70 relative flex h-full w-full items-end justify-start text-black">
				<div class="relative flex h-full w-full items-end justify-center">
					<div
						class="container-screen bottom-0 z-40 mb-10 flex h-auto w-full select-none flex-col items-start justify-end md:mb-4 md:block lg:mb-10 xl:mb-12 xxl:mb-16"
					>
						<!-- <span class="mb-2 block w-6 border-2 border-white"></span> -->
						<h3 class="pb-2 text-5xl font-bold text-white md:pb-2">
							{t(modelTitle)}
						</h3>
						<p class="mb-2 pt-1 text-[22px] font-semibold leading-7 text-white md:mb-0 xl:mb-2">
							{t(technical)}{' '}<span class="md:hidden">{t(compatible)}</span>
						</p>
						<div class="mb-2 md:mb-5">
							<p
								class="block pt-0 text-[22px] font-semibold leading-7 text-white md:hidden md:pt-0 md:font-normal"
							>
								{t(mobile)}
							</p>
							{
								t(description)
									.split('\n')
									.map((line) => (
										<p class="hidden pt-0 text-[22px] font-semibold leading-7 text-white md:block md:pt-0 md:font-normal">
											{line}
										</p>
									))
							}
						</div>
						<button
							class="mx-auto block h-[42px] w-[171px] bg-white text-[10.3px] font-semibold leading-[29.3px] text-black sm:mt-8 md:mb-0 md:mt-0 md:inline-block md:h-[42px] md:w-[165px] md:bg-black md:text-white xxl:mt-2"
						>
							{t('landing.productsLineup.products.downloadBtn')}
						</button>
					</div>
				</div>
			</div>
		</ProductImageBackground>
	</div>
</div>
<style>
	@media (max-height: 480px) {
		h3 {
			font-size: 2rem;
		}

		p {
			font-size: 1rem;
			line-height: normal;
			max-width: 70%;
		}

		button {
			margin: 8px 0;
		}
	}

	@media (max-width: 480px) and (min-height: 700px) {
		.container-screen {
			margin-bottom: 6rem;
		}
	}

	@media (max-width: 480px) and (min-height: 750px) {
		.container-screen {
			margin-bottom: 5rem;
		}
		button {
			margin-top: 2.3rem;
		}
	}

	/* RESPONSIVE FOR MIDS */
	@media (min-width: 976px) and (max-width: 1440px) {
		.container-screen {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	/* LANDSCAPE */
	@media (max-height: 480px) {
		.container-screen {
			padding: 1rem;
			max-width: none;
			margin-bottom: 0;
		}

		button {
			margin-bottom: 0;
		}
	}
</style>
