---
import { t } from 'i18next'
import CloudsImg from 'src/img/clouds.png'

import { getImage } from 'astro:assets'
import ProductImageBackground from '@components/template/ProductImageBackground.astro'
const { modelTitle, description, technical, image, mobile, compatible } = Astro.props
const optimizedBackground = await getImage({ src: image, format: 'png' })
const mobileBg = await getImage({ src: CloudsImg, format: 'png' })
---

<div class="absolute z-10 h-screen w-full">
	<div class="relative h-full bg-black">
		<ProductImageBackground
			mobileBg={mobileBg}
			desktpBg={optimizedBackground}
			extraClassImg="object-contain sm:object-cover object-bottom h-auto md:h-full sm:object-center"
		>
			<div class="z-70 relative flex h-full w-full items-end justify-start text-black">
				<div class="relative flex h-full w-full items-end justify-center">
					<div
						class="container-screen absolute bottom-0 z-40 mb-12 flex w-full select-none flex-col items-start justify-between sm:pb-14 md:block md:h-[265px] xl:max-w-none"
					>
						<span class="mb-2 block w-6 border-2 border-white"></span>
						<h3 class="pb-3 text-5xl font-bold text-white">
							{t(modelTitle)}
						</h3>
						<p class="mb-4 pt-2 text-[22px] font-semibold leading-7 text-white md:mb-0">
							{t(technical)}{' '}<span class="md:hidden">{t(compatible)}</span>
						</p>
						<div class="mb-5">
							<p
								class="block pt-0 text-[22px] font-semibold leading-7 text-white md:hidden md:pt-0 md:font-normal"
							>
								{t(mobile)}
							</p>
							{
								t(description)
									.split('\n')
									.map((line) => (
										<p class="hidden pt-0 text-[22px] font-semibold leading-7 text-white md:block md:pt-0 md:font-normal">
											{line}
										</p>
									))
							}
						</div>
						<button
							class="mx-auto mt-auto block h-[42px] w-[171px] bg-white text-[10.3px] font-semibold leading-[29.3px] text-black sm:mt-8 md:mb-0 md:mt-0 md:inline-block md:h-[42px] md:w-[165px] md:bg-black md:text-white"
						>
							{t('landing.productsLineup.products.downloadBtn')}
						</button>
					</div>
				</div>
			</div>
		</ProductImageBackground>
	</div>
</div>
<style>
	@media (max-height: 480px) {
		.container-screen {
			padding: 1rem;
			max-width: none;
		}
		h3 {
			font-size: 2rem;
		}

		p {
			font-size: 1rem;
			line-height: normal;
			max-width: 70%;
		}
	}
	/* RESPONSIVE FOR MID */
	@media (min-width: 500px) and (max-width: 767px) and (min-height: 641px) {
		.container-screen {
			height: 70%;
			justify-content: flex-start;
		}
	}
	@media (max-width: 500px) and (max-width: 767px) and (min-height: 740px) {
		.container-screen {
			height: 45%;
		}
	}

	@media (min-width: 500px) and (max-width: 767px) and (max-height: 650px) {
		.container-screen {
			height: 53%;
			justify-content: flex-start;
		}
	}

	/* RESPONSIVE FOR MOBILE */
	@media (max-width: 500px) and (max-height: 820px) {
		.container-screen {
			height: 40%;
		}
	}

	@media (max-width: 500px) and (max-height: 760px) {
		.container-screen {
			height: 45%;
		}
	}

	@media (max-width: 500px) and (max-height: 675px) {
		.container-screen {
			height: 55%;
		}
	}
</style>
