---
import { t } from 'i18next'
import ProductImageBackground from '@components/template/ProductImageBackground.astro'
const { modelTitle, description, technical, image, mobile, compatible, mobileImg } = Astro.props
---

<div class="absolute z-10 h-screen w-full">
	<div class="relative h-full bg-black">
		<ProductImageBackground desktpBg={image} mobileImg={mobileImg}>
			<div class="z-70 relative flex h-full w-full items-end justify-start text-black">
				<div class="relative flex h-full w-full items-end justify-center">
					<div
						class="container-screen bottom-0 z-40 mb-6 flex w-full select-none flex-col items-start justify-evenly md:mb-4 md:block md:h-auto lg:mb-10 xl:mb-12 xxl:mb-16"
					>
						<h3 class="pb-0 text-5xl font-bold text-white md:pb-2">
							{t(modelTitle)}
						</h3>
						<p
							class="mb-0 h-[90px] pt-1 text-[22px] leading-7 text-white md:mb-0 md:h-auto xl:mb-2"
						>
							<strong class="font-semibold">{t(technical)}</strong>{' '}{
								compatible && (
									<span class="md:hidden">
										{t(compatible)
											.split('\n')
											.map((txt, index) => {
												return index === 1 ? <strong class="font-semibold">{txt}</strong> : txt
											})}
									</span>
								)
							}
						</p>
						<div class="mb-0 h-[90px] md:mb-5 md:h-auto">
							{
								mobile && (
									<p class="block pt-0 text-[22px] leading-7 text-white md:hidden md:pt-0 md:font-normal">
										{t(mobile)}
									</p>
								)
							}
							{
								description &&
									t(description)
										.split('\n')
										.map((line) => (
											<p class="hidden pt-0 text-[22px] font-semibold leading-7 text-white md:block md:pt-0 md:font-normal">
												{line}
											</p>
										))
							}
						</div>
						<button
							class="mx-auto block h-[42px] w-[171px] bg-white text-[10.3px] font-semibold leading-[29.3px] text-black sm:mt-8 md:mb-0 md:mt-0 md:inline-block md:h-[42px] md:w-[165px] md:bg-black md:text-white xxl:mt-2"
						>
							{t('landing.productsLineup.products.downloadBtn')}
						</button>
					</div>
				</div>
			</div>
		</ProductImageBackground>
	</div>
</div>
<style>
	@media (max-height: 480px) {
		h3 {
			font-size: 2rem;
		}

		p {
			font-size: 1rem;
			line-height: normal;
			max-width: 70%;
		}

		button {
			margin: 8px 0;
		}
	}

	@media (max-width: 480px) and (max-height: 660px) {
		.container-screen {
			margin-bottom: 1.7rem;
			height: 60%;

			justify-content: space-between;
		}
	}

	@media (max-width: 480px) and (max-height: 700px) {
		.container-screen {
			margin-bottom: 1.5rem;
			height: 55%;
		}
	}

	@media (max-width: 480px) and (min-height: 700px) {
		.container-screen {
			margin-bottom: 2rem;
			height: 40%;
		}
	}

	/* RESPONSIVE FOR MIDS */
	@media (min-width: 976px) and (max-width: 1440px) {
		.container-screen {
			padding-bottom: 0;
		}
	}

	@media (min-width: 1440px) and (max-height: 650px) {
		.container-screen {
			margin-bottom: 1rem;
		}
	}

	/* LANDSCAPE */
	@media (max-height: 480px) {
		.container-screen {
			padding: 1rem;
			max-width: none;
			margin-bottom: 0;
		}

		button {
			margin-bottom: 0;
		}
	}
</style>
