---
const {
	video,
	autoplay = false,
	placeholder,
	id = 'default',
	muted = true,
	preload = 'none',
	onload = false
} = Astro.props
---

<div class="relative h-full">
	<video
		id={id}
		autoplay={autoplay}
		loop
		playsinline
		class="absolute h-full w-full object-cover"
		poster={placeholder}
		muted={muted}
		preload={preload}
		onload={onload}
	>
		<source src={video} type="video/mp4" />
	</video>
	<slot />
</div>
